---
title: Red River Bakery
---
<!DOCTYPE html>
<html lang="en">
<head>
	{% include header.html %}
	<style>
		.biger-text-top {
			color: #8D1F00;
		}
	</style>
</head>
<body style="background-color: #8D1F00;" class="royal_loader">
     <p id="top">﻿ <!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--> <!--[if gt IE 8]>
     <!--></p>
     <!--<![endif]--></body>
     <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
     {% include JB/analytics %}
</html>

<!-- MENU================================================== -->
<nav style="background: #8D1F00;" class="menu-back" id="menu-wrap">
     <div class="container">
          <div class="sixteen columns">
               <div class="logo-border logo"></div>

               <div class="menu-collapser" style="display: none;"><div class="collapse-button"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div></div><ul class="slimmenu" style="display: block;">
                    <li><a data-ps2id-offset="100" href="/#home">home</a></li>
                    <li><a href="/#about">about</a></li>
                    <li><a href="/#services">FAQ</a></li>
                    <li><a href="/menu.html">menu</a></li>
                    <li><a href="/#contact">contact</a></li>
                    <li><a href="https://twitter.com/redriverbakery">twitter</a></li>
               </ul>
          </div>
     </div>
</nav>

<!-- RESTAURANT MENU SECTION=============================== -->

<section class="parallax-section" style="padding-bottom; 100px;" id="clients">
    <div class="parallax-2"></div>
    <div class="container z-index-pages">
        <div class="sixteen columns">
            <h1 style="text-align:center;color:#FFF;">menu</h1><br><br>
            <h3 style="text-align:center;">A wide variety of foods in various flavors.</h3>
        </div>
    </div>
</section>
<section style="padding-left: 10px; padding-top: 110px; background-color: #f2f2f2; width: 90%; margin-left: auto; margin-right: auto;" class="about" id="menu">
     <div style="width:100%;" class="about-top">
          <div class="container">
               <div class="eight columns">
                    <h4>Bread</h4>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Sourdough</div>
                    <p>$4.35</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Toasted Garlic</div>
                    <p>$4.29</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Cinnamon Raisin</div>
                    <p>$4.17</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Baguette</div>
                    <p>$2.79</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Honey Nut</div>
                    <p>$4.87</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Roasted Pecan</div>
                    <p>$3.99</p><br>
                    
                    <hr style="color: #888; border: solid; border-width: .25px;" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s"><br><br>
                    <h4 style="padding-bottom: 0px;">Muffins</h4>
                    <h6 style="text-align:left; padding-bottom: 20px;">Price per Half Dozen</h6>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Apple Cinnamon</div>
                    <p>$13.99</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Banana Nut</div>
                    <p>$12.99</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Blueberry</div>
                    <p>$9.99</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Chocolate Chip</div>
                    <p>$9.99</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Lemon Poppy Seed</div>
                    <p>$12.85</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Strawberry</div>
                    <p>$14.39</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Vanilla</div>
                    <p>$12.49</p><br><br>
                    
                    <hr style="color: #888; border: solid; border-width: .25px;" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s"><br><br>
                    <h4>Scones</h4>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Apple Glazed</div>
                    <p>$2.99</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Blueberry</div>
                    <p>$2.89</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Cinnamon</div>
                    <p>$2.79</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Cranberry</div>
                    <p>$3.29</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Peach</div>
                    <p>$2.77</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Strawberry</div>
                    <p>$2.99</p><br><br>
               </div>
               <div class="eight columns">
                    <h4>Cupcakes</h4>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Carrot Cake</div>
                    <p>$3.13</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Chocolate Swirl</div>
                    <p>$2.89</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Cookies and Cream</div>
                    <p>$3.20</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Pumpkin Spice</div>
                    <p>$3.09</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Red Velvet</div>
                    <p>$3.17</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">S'mores</div>
                    <p>$3.20</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Vanilla Cream</div>
                    <p>$3.20</p><br>
                    
                    <hr style="color: #888; border: solid; border-width: .25px;" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s"><br><br>
                    <h4>Doughnuts</h4>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Bavarian Cream Filled</div>
                    <p>$1.79</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Chocolate Drizzled</div>
                    <p>$1.35</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Jelly Filled</div>
                    <p>Flavors: Strawberry, Grape, Peach, and Raspberry</p>
                    <p>$1.55</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Maple Syrup</div>
                    <p>$1.35</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Powdered Sugar</div>
                    <p>$1.29</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Traditional Glazed</div>
                    <p>$1.30</p><br><br>
                    
                    <hr style="color: #888; border: solid; border-width: .25px;" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s"><br><br>
                    <h4>Pies</h4>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Apple</div>
                    <p>$10.89</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Banana Cream</div>
                    <p>$11.07</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Blueberry</div>
                    <p>$10.89</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Cherry</div>
                    <p>$11.02</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Chocolate French Silk</div>
                    <p>$11.29</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Lemon Meringue</div>
                    <p>$11.24</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Pecan</div>
                    <p>$12.99</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Pumpkin</div>
                    <p>$10.99</p><br><br>
               </div>
          </div>
          <hr style="color: #888; border: solid; border-width: .25px;"><br><br>
          <div class="container">
               <h3 style="text-align: center;">Restaurant Menu</h3>
               <div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <h4>Pizza</h4>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Cheese</div>
                    <p>$13.50</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Beef</div>
                    <p>$13.99</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Pepperoni</div>
                    <p>$13.89</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Sausage</div>
                    <p>$13.99</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Supreme</div>
                    <p>$14.99</p><br><br>
                    <h6 style="text-align:left; padding-bottom: 10px;">Deep Dish available with 24 hours notice.</h6>
               </div>
               <div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <h4>Pasta</h4>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Alfredo</div>
                    <p>$8.99</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Marinara and Mushroom</div>
                    <p>$8.79</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Meat and Cheese</div>
                    <p>$8.89</p><br><br>
                    <div style="padding-bottom: 0px;" class="biger-text-top">Spicy Italian</div>
                    <p>$9.29</p><br><br>
               </div>
          </div>
     </div>
</section>

{% include footer.html %}
