---
title: Red River Bakery
---
<!DOCTYPE html>
<html lang="en">
<head>
	{% include header.html %}
</head>
<body class="royal_loader">
     <p>﻿ <!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--> <!--[if gt IE 8]>
     <!--></p>
     <!--<![endif]--></body>
     <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
     {% include JB/analytics %}
</html>

<!-- Primary Page Layout=================================== -->

<!-- MENU================================================== -->
{% include nav.html %}

<!-- RESTAURANT MENU SECTION=============================== -->

<section class="about" id="about">
     <div class="container">
          <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
               <h1>menu</h1>
          </div>

          <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
               <div class="sub-text">A wide variety of foods in various flavors.</div>
          </div>
     </div>

     <div class="about-top">
          <div class="container">
               <div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <h5>Bread</h5>
                    <div class="biger-text-top">Sourdough</div>
                    <p>$4.35</p>
                    <div class="biger-text-top">Raison</div>
                    <p>$4.17</p>
               </div>
               <div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <h5>Bread</h5>
                    <div class="biger-text-top">Sourdough</div>
                    <p>$4.35</p>
                    <div class="biger-text-top">Raison</div>
                    <p>$4.17</p>
               </div>
          </div>
     </div>
     

{% include footer.html %}
