---
title: Red River Bakery
---
<!DOCTYPE html>
<html lang="en">
<head>
	{% include header.html %}
</head>
<body class="royal_loader">
     <p id="top">﻿ <!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--> <!--[if gt IE 8]>
     <!--></p>
     <!--<![endif]--></body>
     <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
     <style>@media only screen and (max-width: 693px){.mobile-banner{height:0px !important;} .mobile-poster{padding-top: 200px}} @media only screen and (min-width: 694px){.mobile-poster{height:0px;}}</style>
     {% include JB/analytics %}
     {% include knowledgeGraph.html %}
</html>

<!-- Primary Page Layout================================================== -->

<!-- MENU================================================== -->
{% include nav.html %}


<!-- HOME SECTION================================================== -->
<img src="img/preload-logo.png" class="mobile-poster">
<section class="home mobile-banner" id="home">
     <div class="arrow-down">
          <a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="/#about"></a>
     </div>

     <div class="tp-banner-container mobile-banner">
          <div class="tp-banner mobile-banner">
               <ul>
                    <!-- THE FIRST SLIDE -->
	               <li class="mobile-banner" data-masterspeed="1000" data-slotamount="1" data-title="RED RIVER BAKERY" data-transition="fade">
	                    <img class="mobile-banner" alt="" data-bgfit="100" data-bgfitend="130" data-bgposition="left center" data-bgpositionend="right center" data-duration="14000" data-ease="Linear.easeNone" data-kenburns="on" src="img/1.jpg" />
	                    <!-- THE CAPTIONS IN THIS SLIDE --> <!-- LAYER NR. 1 -->
	                    <div class="tp-caption tp-fade fadeout fullscreenvideo mobile-banner" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="true" data-easing="Power4.easeOut" data-elementdelay="0.01" data-endeasing="Power4.easeIn" data-endelementdelay="0.1" data-endspeed="1500" data-forcecover="1" data-forcerewind="on" data-nextslideatend="true" data-speed="1000" data-start="1100" data-volume="mute" data-x="0" data-y="0" style="z-index: 2; visibility:hidden;" onload="this.style.visibility = 'visible';">
	                         <video height="100%" poster="img/1.jpg" preload="none" width="100%">
	                              <source src="videos/video-slider.webm" type="video/webm"/>
                                  <source src="videos/video-slider.ogg" type="video/ogg" />
                                  <source src="videos/video-slider.mp4" type="video/mp4"/>
	                              Your browser doesn't support video tags, please update.
	                         </video>
	                    </div>

	                    <div class="caption big-text lft ltt tp-resizeme mobile-banner" data-easing="easeOutExpo" data-speed="700" data-start="600" data-x="center" data-y="bottom" data-voffset="-30" style="z-index: 200;">
	                         <div class="big-text">Rich in Taste and Tradition</div>
	                    </div>

	                    <div class="caption big-text lft ltt tp-resizeme mobile-banner" data-easing="easeOutExpo" data-speed="700" data-start="1000" data-x="center" data-y="bottom" data-voffset="-30"style="z-index: 200;">
	                         <div class="thin-text mobile-banner"><span>Red River Bakery</span></div>
	                    </div>
	               </li>
	               
	               <!-- THE SECOND SLIDE -->
	               <li class="mobile-banner" data-masterspeed="1000" data-slotamount="1" data-title="LOVE WHAT WE DO" data-transition="fade">
	               		<img class="mobile-banner" alt="" data-bgfit="100" data-bgfitend="130" data-bgposition="left center" data-bgpositionend="right center" data-duration="14000" data-ease="Linear.easeNone" data-kenburns="on" src="img/2.jpg" />
	                    <!-- THE CAPTIONS IN THIS SLIDE --> <!-- LAYER NR. 2 -->
	                    <div class="tp-caption tp-fade fadeout fullscreenvideo mobile-banner" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="true" data-easing="Power4.easeOut" data-elementdelay="0.01" data-endeasing="Power4.easeIn" data-endelementdelay="0.1" data-endspeed="1500" data-forcecover="1" data-forcerewind="on" data-nextslideatend="true" data-speed="1000" data-start="1100" data-volume="mute" data-x="0" data-y="0" style="z-index: 2; visibility:hidden;" onload="this.style.visibility = 'visible';">
                              <video height="100%" poster="img/2.jpg" preload="none" width="100%">
                                   <source src="videos/video-slider1.webm" type="video/webm"/>
                                   <source src="videos/video-slider1.ogg" type="video/ogg" />
                                   <source src="videos/video-slider1.mp4" type="video/mp4"/>
                                   Your browser doesn't support video tags, please update.
                              </video>
	                    </div>

	                    <div class="caption big-text lft ltt tp-resizeme mobile-banner" data-easing="easeOutExpo" data-speed="700" data-start="600" data-x="center" data-y="bottom" data-voffset="-30" style="z-index: 200;">
	                         <div class="big-text mobile-banner">YOU&#39;VE PROBABLY NOTICED</div>
	                    </div>

	                    <div class="caption big-text lft ltt tp-resizeme mobile-banner" data-easing="easeOutExpo" data-speed="700" data-start="1000" data-x="center" data-y="bottom" data-voffset="-30" style="z-index: 200;">
	                         <div class="thin-text mobile-banner">
	                              <span>WE LOVE WHAT WE DO</span>
	                         </div>
	                    </div>
	               </li>
               </ul>
          </div>
     </div>
</section>


<!-- ABOUT US SECTION================================================== -->

<section class="about" id="about">
     <div class="container">
          <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
               <h1>about us</h1>
          </div>

          <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
               <div class="sub-text">A Family owned business with deep rooted traditions. Red River Bakery is well know in the community for its great, gluten-free foods and amazing atmosphere.</div>
          </div>
     </div>

     <div class="about-top">
          <div class="container">
               <div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <h5>Our Mission</h5>
                    <div class="biger-text-top">The goal of Red River Bakery is to provide the community with flavorful desserts and breads of many varieties, all gluten-free, along with our new amazing dinner items!</div>
                    <p>Red River Bakery has been around for over a decade and in that time has amassed many techniques and recipes for our amazing foods!</p>
               </div>

               <div class="four columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <div class="about-box">
                         <div class="about-box-icon"></div>
                         <h5>BAKING</h5>
                         <p>Baking is our passion. We love what we do, and hope that you will love our foods just as much.</p>
                    </div>

                    <div class="about-box">
                         <div class="about-box-icon"></div>
                         <h5>SALES</h5>
                         <p>Our sales speak for themselves. Having served over 500 thousand loaves since we started, we know our way around the baking world.</p>
                    </div>
               </div>

               <div class="four columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <div class="about-box">
                         <div class="about-box-icon"></div>
                         <h5>CONTACT</h5>
                         <p>Red River Bakery is always willing to answer any questions you may have. Email or call us <a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="/#contact">now</a>.</p>
                    </div>

                    <div class="about-box">
                         <div class="about-box-icon"></div>
                         <h5>ENJOY</h5>
                         <p>Red River is among the best of the best when it comes to baked goods, and easily the greatest of the gluten-free producers.</p>
                    </div>
               </div>
          </div>
     </div>

     <div class="facts">
          <div class="container">
               <div class="eight columns">
                    <div class="fact-wrap">
                         <div class="fact-icon" data-scroll-reveal="enter top move 100px over 0.5s after 0.1s"></div>
                         <h3>Started in <span class="counter">2001</span></h3>
                         <p>Established Business with Great Tradition.</p>
                    </div>
               </div>

               <div class="eight columns">
                    <div class="fact-wrap">
                         <div class="fact-icon" data-scroll-reveal="enter top move 100px over 0.5s after 0.1s"></div>
                         <h3><span class="counter">500</span> Thousand&#043;</h3>
                         <p>Loaves of Bread Sold</p>
                    </div>
               </div>
          </div>
     </div>

<!-- TEAM============================================================== -->
     <div class="team" id="team">
          <div class="container">
               <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <h1>our team</h1>
               </div>

               <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <div class="sub-text" style="color: #bdbdbd">The core of our team is a group of three individuals that are in love with baking and well versed in both gluten-free cooking and baking. We are here to help make your eating experience the greatest it can possibly be!</div>
               </div>
          </div>

          <div class="container">
               <div class="one-third column" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <div class="team-box">
                         <a class="img-overlay">
                         	<img alt="" src="img/team/owner.jpg" />
                         	<span class="text-content"><span>James is a Nebraska born entrepreneur with a passion for food. He has a gluten intolerance, and through his experience, he has learned to perfect the gluten-free culinary arts. He has been working in the baking industry for 23 years, and has been the owner of Red River Bakery since its inception. He lives in Omaha with his wife and two daughters.</span></span>
                         </a>
                    </div>

                    <div class="team-box-down">
                         <h6>James Griffin</h6>
                         <p style="font-weight: bold;">Owner</p>
                    </div>
               </div>

               <div class="one-third column" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <div class="team-box">
                         <a class="img-overlay">
                         	<img alt="" src="img/team/chef.jpg"/>
                         	<span class="text-content"><span>Marco, a Chicago native, has been interested in cooking all of his life. A renowned chef in his own right, Marco is a fantastic member of our team, with years of experience in both baking bread goods and cooking dinner food items. When he was presented with the new opportunity of learning to cook sans gluten, he jumped at the chance. Marco has relocated to Omaha along with his fiancée.</span></span>
                         </a>
                    </div>

                    <div class="team-box-down">
                         <h6>Marco Romano</h6>
                         <p style="font-weight: bold;">Chef</p>
                    </div>
               </div>

               <div class="one-third column" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <div class="team-box">
                         <a class="img-overlay">
                         	<img alt="" src="img/team/asst_baker.jpg" />
                         	<span class="text-content"><span>Jennifer, originally from Des Moines, IA, began baking cookies with her grandmother when she was five years old. Ever since then, she hasn't been able to stop. Learning new recipes is her passion, and being able to share those with our customers is her pleasure. Jennifer has worked at Red River Bakery for six years and has become one of our most valuable assets. Jennifer lives with her husband and their baby boy.</span></span>
                         </a>
                    </div>

                    <div class="team-box-down">
                         <h6>Jennifer Schaffer</h6>
                         <p style="font-weight: bold;">Assistant Baker</p>
                    </div>
               </div>
          </div><br>
     </div>
</section>


<!-- PARALLAX SECTION================================================== -->

<section class="parallax-section" id="clients">
     <div class="parallax-1"></div>
	 <div style="margin-left: auto; margin-right: auto; margin-bottom: 50px;">
	 	<h2 style="color: #ECECEC; margin: 0 px 0px 50px 0px">Reviews</h2>
	 </div>
     <div class="container z-index-pages">
          <div class="sixteen columns">
               <div class="testimonials-carousel-wrap">
                    <div class="owl-carousel" id="sync1">
                         <div class="item">
                              <div class="owl-bg-div">
                                   <p>&quot;WOW! Red River Bakery is fantastic! Everything I ate was just absolutely mouthwatering!  I highly encourage anyone to go and experience what makes their food so tasty! Two thumbs up!&quot;</p>
                              </div>
                         </div>

                         <div class="item">
                              <div class="owl-bg-div">
                                   <p>&quot;I have been to many bakeries across the country and I can say I have never been to a bakery as good as Red River Bakery!  Everything about they're food is just perfect; the presentation and taste is amazing!  I can't wait to try what they produce in their new restaurant. GREAT job.&quot;</p>
                              </div>
                         </div>

                         <div class="item">
                              <div class="owl-bg-div">
                                   <p>&quot;I'm in awe of how good the products at Red River Bakery are!    Everything was extraordinary!  What a great experience! ★★★★★&quot;</p>
                              </div>
                         </div>
                    </div>

                    <div class="owl-carousel" id="sync2">
                         <div class="item">
                              <img alt="" src="img/reviews/adam.jpg" />
                              <h6>Adam Kant</h6>
                              <p>Local Business Owner</p>
                         </div>

                         <div class="item">
                              <img alt="" src="img/reviews/jones.jpg" />
                              <h6>Ron & Sara Jones</h6>
                              <p>School Teachers</p>
                         </div>

                         <div class="item">
                              <img alt="" src="img/reviews/michelle.jpg" />
                              <h6>Michelle Ryder</h6>
                              <p>Accountant</p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>


<!-- PORTFOLIO SECTION================================================== -->

<section class="work" id="work">
     <div class="container">
          <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
               <h1>our motto</h1>
          </div>

          <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
               <div class="sub-text"><a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="/#team">We</a> at Red River Bakery believe in providing customers with baked goods of the highest caliber at great prices.</div>
               &nbsp;

               <p>Our bakery is committed to its customers, making your enjoyment of our food our top priority. No matter what your tastes are, you&#39;ll find this bakery to be the best!</p><br>
          </div>
     </div>

     <div class="work-bottom">
          <p data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">Let&rsquo;s talk about our Bakery</p>

          <div class="link-bottom-work" data-scroll-reveal="enter bottom move 100px over 1s after 0.1s">
               <a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="menu.html" style="margin-right: 10px; margin-bottom:10px;">menu</a>
               <a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="https://docs.google.com/forms/d/1FIk4ROON11dI30Zg06CLcsY1ivZ08DPcF_5gBrul1no/viewform?usp=send_form" target="_blank" style="margin-right: 10px; margin-bottom:10px;">join&nbsp;the&nbsp;loyalty&nbsp;program</a>
               <a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="https://docs.google.com/forms/d/1gyd2NirrL-GTQ5THngMjqQiGEtYaxPDEkCPVe2vMobc/viewform?usp=send_form" target="_blank" style="margin-right: 10px; margin-bottom:10px;">make&nbsp;a&nbsp;reservation</a>
               <a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="/#contact" style="margin-bottom:10px;">contact&nbsp;us</a>
          </div>
     </div>
</section>


<!-- PARALLAX SECTION================================================== -->
<!-- SERVICES SECTION================================================== -->

<section class="services" id="services">
    <div class="container">
        <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
            <h1>Q&amp;A</h1>
        </div>

        <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
            <div class="sub-text">Below are some of the most frequently asked questions that <a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="/#team">we</a> at Red River Bakery have received. We use our experience to bring the best food to your dining room table.</div>
        </div>
    </div>

    <div class="container">
        <div class="one-third column" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
            <div class="services-top-wrap">
                <img alt="" src="img/icon11.png" />
                <h6>Why RED RIVER BAKERY?</h6>
                <div class="subtext-ser-top">Why should I choose Red River Bakery over another bakery in the area?</div>
                <p>Red River has been around for over a decade and has not only the best tasting food according to the Baker's Choice Council, but also the widest variety of great baked goods.</p>
            </div>
        </div>

        <div class="one-third column" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
            <div class="services-top-wrap">
                <img alt="" src="img/icon11.png" />
                <h6>WHAT DO YOU HAVE?</h6>
                <div class="subtext-ser-top">What food does Red River Bakery have to offer?</div>
                <p>Red River offers many different types of baked goods. We have bread loaves, cupcakes, and pies. Also, we are starting to expand our bakery to include an Italian restaurant.</p>
            </div>
        </div>

        <div class="one-third column" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
            <div class="services-top-wrap">
                <img alt="" src="img/icon11.png" />
                <h6>HOW ENJOYABLE ARE YOUR PRODUCTS?</h6>
                <div class="subtext-ser-top">Are your products really as good as customers say they are? </div>
                <p>We have the most appetizing products in the world. We have one of the most famous chefs in the baking business working for us.</p>
            </div>
        </div>

        <div class="clear"></div>

        <div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
            <div class="services-top-wrap">
                <img alt="" src="img/icon11.png" />
                <h6>HOW DO I EARN REWARDS?</h6>
                <div class="subtext-ser-top">How would I join the loyalty program?</div>
                <p><a href="https://docs.google.com/forms/d/1FIk4ROON11dI30Zg06CLcsY1ivZ08DPcF_5gBrul1no/viewform?usp=send_form">Click Here</a> to register for our loyalty program. After you have joined, you will begin to earn points with every purchase. Every $5 you spend, you earn one point. Every point you earn can be spent as one dollar in store on your next purchase!</p>
            </div>
        </div>

        <div class="eight columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
            <div class="services-top-wrap">
                <img alt="" src="img/icon11.png" />
                <h6>WHAT OTHER FOODS DO YOU OFFER?</h6>
                <div class="subtext-ser-top">Other than baked goods, what else does Red River have to offer?</div>
                <p>Red River Bakery is starting to offer a selection of Italian foods. We have multiple varieties of a gluten free pasta and over 20 different toppings for our gluten free pizzas.</p>
            </div>
        </div>
    </div>
</section>


{% include footer.html %}
