<!-- Basic Page Needs================================================== -->

<!-- Mobile Specific Metas================================================== -->
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta http-equiv="cache-control" content="max-age=0">
<title>{{ page.title }}</title>
<meta name="keywords" content="FBLA, Adams, Central">
<meta name="author" content="{{ site.author.name }}">
<meta name="copyright" content="© {{ site.author.name }}">
<meta property="og:title" content="FBLA Bake">
<meta property="og:type" content="website">
<meta property="og:url" content="http://fblabake.github.io/">
<meta property="og:image" content="http://fblabake.github.io/img/acfbla2.png">
<meta property="og:image:type" content="image/png">
<meta property="og:site_name" content="FBLA Bake">
<meta property="og:description" content="FBLA Bake">
<!-- CSS================================================== -->
<link href="http://fblabake.github.io/css/base.css" rel="stylesheet">
<link href="http://fblabake.github.io/css/skeleton.css" rel="stylesheet">
<link href="http://fblabake.github.io/css/layout.css" rel="stylesheet">
<link href="http://fblabake.github.io/css/font-awesome.css" rel="stylesheet">
<link href="http://fblabake.github.io/css/owl.carousel.css" rel="stylesheet">
<link href="http://fblabake.github.io/css/settings.css" rel="stylesheet">
<link href="http://fblabake.github.io/css/retina.css" rel="stylesheet">
<link href="http://fblabake.github.io/css/modal.css" rel="stylesheet">
<link href="http://fblabake.github.io/css/glyphs.css" rel="stylesheet">
<script type="text/javascript" src="http://fblabake.github.io/js/modernizer.custom.js"></script>
<script type="text/javascript" src="http://fblabake.github.io/js/jquery.js"></script>
<script type="text/javascript" src="http://fblabake.github.io/js/modal.js"></script>
<!-- Favicons================================================== -->
<link href="http://fblabake.github.io/img/favicon.ico" rel="shortcut icon">
<link rel="apple-touch-icon" sizes="57x57" href="http://fblabake.github.io/img/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="60x60" href="http://fblabake.github.io/img/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="http://fblabake.github.io/img/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="http://fblabake.github.io/img/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="http://fblabake.github.io/img/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="http://fblabake.github.io/img/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="http://fblabake.github.io/img/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="http://fblabake.github.io/img/icons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="http://fblabake.github.io/img/icons/apple-touch-icon-180x180.png">
<link rel="manifest" href="http://fblabake.github.io/manifest.json">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="http://fblabake.github.io/img/icons/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
