<nav class="menu-back cbp-af-header" id="menu-wrap">
	<br>
     <div class="container">
          <div class="sixteen columns">
               <div class="logo-border logo"></div>

               <ul class="slimmenu">
                    <li><a data-ps2id-offset="100" href="/#home">home</a></li>
                    <li><a href="/#about">about</a></li>
                    <li><a href="/#services">FAQ</a></li>
                    <li>
                    	<div class="dropdown">
                    		<a href="{{ site.production_url }}/menu.html">food</a>
                    		<div class="dropdown-content">
    							<a style="border: none; float: left; padding-left: 10px; padding-right: 10px;" href="{{ site.production_url }}/full_menu.html">menu</a>
  							</div>
  						</div>
  					</li>
  					<li class="slim-only"><a href="{{ site.production_url }}/full_menu.html">menu</a></li>
                    <li><a href="/#contact">contact</a></li>
                    <li><a href="https://twitter.com/{{ site.twitter_url }}">twitter</a></li>
               </ul>
          </div>
     </div>
</nav>
