<nav class="menu-back cbp-af-header" id="menu-wrap">
     <div class="container">
          <div class="sixteen columns">
               <div class="logo-border logo"></div>

               <ul class="slimmenu">
                    <li><a data-ps2id-offset="100" href="/#home">home</a></li>
                    <li><a href="/#about">about</a></li>
                    <li><a href="/#services">FAQ</a></li>
                    <li>
                    	<div class="dropdown">
                    		<a href="/menu.html">menu</a>
                    		<div class="dropdown-content">
    							<a href="{{ site.production_url }}/full_menu.html">full&nbsp;menu</a>
  							</div>
  						</div>
  					</li>
                    <li><a href="/#contact">contact</a></li>
                    <li><a href="https://twitter.com/{{ site.twitter_url }}">twitter</a></li>
               </ul>
          </div>
     </div>
</nav>
